body{
    text-align: center;
    background-color: rgba(132, 126, 126, 0.184);
    box-shadow: 5px 5px 10px black;
}
.container {

width: auto;
max-height: fit-content; 
}


.cell {
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    border: 2px black solid;
    background-color:rgb(227, 226, 226) ;
    box-shadow: 10px gray;
    cursor: pointer;
}
.footer{
    background-image: linear-gradient( to right, #07a4b2c9, #d9ecc7ce);
    padding: 1%;
   
   border: 2px solid lightslategray;
}
.header{
    background-image: linear-gradient( to right, #07a4b2c9, #d9ecc7ce);
    padding: 1%;
    border: 1px solid lightslategray;
    
}
table{
    text-align: center;
    margin: 3vh auto ;
}
h1{
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgb(9, 9, 9);
}
.menu{
    margin:0 10%;
    display: inline-flex;
  

    
}
button{
    height: 50px;
    width: 70px;
    font-size: 30px;
}
.hints{
    margin:0 10%;
    display: inline-flex;
    max-width: 50px ;
    max-height: 52px;
    cursor: pointer;
    
}
.gameMode{
    background-color:rgba(247, 247, 247, 0.754);
}
.selected{
    background-color: rgba(0, 101, 152, 0.447) ;
}

