body{
    text-align: center;
}
.board-container {
    margin: auto ;
    background-image: linear-gradient( to left, #07A3B2, #d9ecc7)
}


.cell {
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    border: 2px black solid;
    background-color:rgb(227, 226, 226) ;
    box-shadow: 10px gray;
}
.footer{
    background-image: linear-gradient( to right, #07A3B2, #d9ecc7);
    padding: 2%;
   margin-top: 2%;
   border: 2px solid lightslategray;
}
.header{
    background-image: linear-gradient( to right, #07A3B2, #d9ecc7);
    padding: 2%;
    border: 1px solid lightslategray;
    
}
table{
    text-align: center;
    margin: auto;
}
h1{
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgb(9, 9, 9);
}
.menu{
    margin:0 10%;
    display: inline-flex;
}
button{
    height: 50px;
    width: 70px;
    font-size: 30px;
}
.hints{
    margin:0 10%;
    display: inline-flex;
    max-width: 50px ;
    max-height: 52px;
    cursor: pointer;
    
}